global-reset()
reset-html5()
normalize-css()
fluid-media()
print-styles()
border-box-html()

gray = #7C8082

.hidden
  display: none !important

.invisible
  visibility: hidden

header
  padding: 20px
  .right
    float: right
    .nav
      margin-bottom: 10px
      &.links
        li
          upcase()
          font-size: 0.8em
      &.info
        float: right
        li
          font-size: 0.9em

ul
  &.links
    breadcrumb: '|' 8px gray
    li
      color: gray
      a
        color: gray
        text-decoration: none
        &:hover
          text-decoration: underline
      .em
        color: #444

nav
  li
    a
      color: gray
      text-decoration: none
      &:hover
        text-decoration: underline

input
  padding: 8px 12px
  border-radius: 4px
  outline: none
  box-shadow: none
  border: thin solid #ccc

.field
  display: inline-block
  vertical-align: top
  input
    width: 100%
  &.full
    field: left 80%
  &.half
    field: left 40%
  &.quarter
    field: left 20%
  &.eigth
    field: left 12.5%

#container
  width: 976px
  margin: 100px auto
  > nav
    padding-bottom: 4px
    border-bottom: thin solid #ccc

.options
  .type
    display: inline-block
    vertical-align: top
    padding: 8px 12px 7px
    border-radius: 5px
    margin: 0 16px
    border: thin solid #ccc
    &:hover
      cursor: pointer
    &:hover, &.selected
      background-color: #eee

#order-component
  #form
    margin-top: 20px
    .pane
      display: inline-block
      vertical-align: top
      padding: 20px
      &.left
        width: 25%
        border-right: thin solid #ccc
        color: gray
        nav
          overflow: auto
          height: 360px
          li
            margin: 16px 0
            &.selected a
              color: #444
        .info
          height: 20px
          .em
            color: #444
      &.right
        width: 75%
        .viewport
          height: 360px
        .foot
          height: 20px
    #service-type
      .field
        margin: 0 25px 10px 0
      .call_paths, .message-volume, .call_rates
        margin: 20px 0 0 16px
        label
          display: inline-block
          width: 240px
        input
          margin-right: 20px
          width: 120px !important
      .call_rates
        margin-top: 0 !important
      .type-containers
        margin-top: 20px
        .container
          display: none
          &.selected
            display: block
    #new-numbers
      .tabs
        .tab
          display: inline-block
          padding: 8px 12px
          border: thin solid #ccc
          border-right: 0
          &.selected
            background-color: #eee
          &:last-child
            border-right: thin solid #ccc
          &:hover
            cursor: pointer
            background-color: #eee
      .tab-content
        margin-top: 40px
        .column
          position: relative
          display: inline-block
          vertical-align: top
          width: 33%
          height: 320px
          border-right: thin solid #ccc
          .numbers
            font-size: 0.9em
            margin: 20px 0 0 20px
            .number
              margin-bottom: 10px
              &:hover
                cursor: pointer
                color: #999
          .loading
            text-align: center
            color: #999
            position: absolute
            bottom: 24px
            left: 50%
            width: 70px
            margin-left: -35px
          .title
            text-align: center
          .search-panes
            .Select
              width: 188px
              margin: 0 0 10px 20px
          .search-tabs
            text-align: center
            margin: 20px 0
            .search-tab
              display: inline-block
              font-size: 0.9em
              padding: 8px 12px
              border: thin solid #ccc
              border-right: 0
              &.selected
                background-color: #eee
              &:last-child
                border-right: thin solid #ccc
              &:hover
                cursor: pointer
                background-color: #eee
    #service-address
      .field
        margin: 0 25px 10px 0
      .validated
        margin-top: 60px
        .label
          margin-bottom: 10px
          color: #539770
          font-weight: 600
    #ip-addresses
      .routing-method
        margin-top: 36px
        .title, .options
          display: inline-block
          vertical-align: top
        .title
          margin: 8px 20px 0 0
      .ip-containers
        height: 250px
        overflow-y: scroll
        width: 103%
        .div
          position: absolute
          border-right: thin solid #ccc
          left: 300px
          top: 30px
          bottom: 0
        .directions
          position: relative
        .direction
          display: inline-block
          vertical-align: top
          width: 340px
          .check
            height: 34px
            label
              font-size: 0.9em
              input
                margin-right: 10px
          > .title
            font-size: 1.3em
            border-bottom: thin solid #ccc
            margin-bottom: 20px
            padding-bottom: 10px
            text-align: center
          &.out > .title
            width: 260px
          .columns
            .column
              display: inline-block
              vertical-align: top
              width: 80px
              padding: 0 10px
              &.ip
                width: 100px
              .title
                font-size: 0.9em
                text-align: center
                padding-bottom: 10px
                margin-bottom: 10px
                border-bottom: thin solid #ccc
              .field
                font-size: 0.8em
                margin: 5px 0
                input
                  width: 100%
                  &.invalid
                    border: thin solid red
          &:first-child
            .columns
              width: 85%
              border-right: thin solid #ccc

.ReactModal__Overlay
  opacity: 0
  &.ReactModal__Overlay--after-open
    opacity: 1
    transition: opacity 150ms ease-out
  .ReactModal__Content
    top: 200px !important
    bottom: inherit !important
    left: 50% !important
    right: inherit !important
    width: 600px
    height: 300px
    margin-left: -300px
    transform: scale(0.5) rotateX(-30deg)
    &.ReactModal__Content--after-open
      transform: scale(1) rotateX(0deg) !important
      transition: all 150ms ease-in
    .addresses
      height: 130px
      margin-top: 12px
      overflow: hidden
      .address
        margin: 6px
        &:hover
          cursor: pointer
          color: gray
        &.selected
          font-weight: 600
          color: #81C784
